# Git
.git
.gitignore

# Node
frontend/node_modules
frontend/dist

# .NET build artifacts
src/**/bin
src/**/obj
tests/**/bin
tests/**/obj

# IDE / editor
.vscode
*.user
*.suo
.vs

# Logs
*.log

# OS
.DS_Store
Thumbs.db
